@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  color: black;
  background-color: #e5e1e1;
  line-height: 1;
  font-family: "Open sans";
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 750px;
}

.accordion {
  max-width: 700px;
}

.accordion__item {
  width: 100%;
  position: relative;
}

.accordion__item:not(:first-child) {
  margin: 8px 0px 0px 0px;
}

.accordion__item.item__active .accordion__item-text {
  height: 200px;
  padding: 20px;
}

.accordion__item.item__active .accordion__item-title::before {
  content: '';
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.accordion__item.item__active .accordion__item-title::after {
  content: '';
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.accordion__item-title {
  padding: 10px;
  background-color: #2b2a2a;
  color: white;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.accordion__item-title::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 20px;
  font-size: 27px;
}

.accordion__item-title::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 20px;
  font-size: 27px;
}

.accordion__item-text {
  position: relative;
  background-color: #b4a1cc;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  max-width: 800px;
  border-radius: 10px;
  margin: 5px 0px 0px 0px;
}

.accordion__item-span {
  font-size: 30px;
  display: block;
  margin: 0px 0px 20px 0px;
}
/*# sourceMappingURL=style.css.map */